.outerDiv{
    width:100%;
    margin:80px 0px;
}
.innerDiv{
    /* width:92%; */
    margin: 0 auto;
    display:flex;
    gap:10px;
    padding:0 40px;
}
.left{
    width:90%;
}

.right{
    color:white;
}
.title{
    font-size: 60px;
    padding:10px 0px;
}
.color{
    color:rgb(226,187,83)
}

.line{
    display: inline-block;
  height: 2px;          
  background-color: rgb(226, 187, 83);
  width: 40px;
  position: absolute;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 13px;
}
.right .des{
    font-size: 25px;
    padding:10px 0px;
}
.text{
    font-size: 17px;
    padding: 13px 0px;
}
.btns{
    margin-top: 50px;
    display:flex;
    gap:20px;
}
.btn1, .btn2{
    padding:22px 75px;
    border:none;
    border-radius: 30px;
    cursor:pointer;
    color:rgb(39, 92, 83);
    font-size: 16px;
}
.btn1{
    background-color: rgb(226, 187, 83);
    position: relative;
    overflow: hidden;
}
.btn2{
     background-color: white;
    position: relative;
    overflow: hidden;
}
.right .btn1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;        /* solid white overlay */
  transform: translateY(100%);
  transition: transform 0.4s ease;
  z-index: 0; 
}
.right .btn2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(226, 187, 83);        /* solid white overlay */
  transform: translateY(100%);
  transition: transform 0.4s ease;
  z-index: 0; 
}

/* slide up on hover */
.right .btn1:hover::before,
.right .btn2:hover::before
 {
  transform: translateY(0);
}


.btn1 span, .btn2 span {
  position: relative;
  z-index: 1;               /* ensures text is always visible */   
  transition: color 0.4s ease;
}

.left img {
  animation: zoomIn 3s ease-in-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width:992px){
    .left{
        display:none;
    }
    .right{
        text-align:center;
        width:80%;
        margin: 0 auto;
    }

    .btns{
        flex-direction: column;
    }
}