.outerDiv{
    width:100%;
    margin:80px 0px;
}
.innerDiv{
    /* width:92%; */
    margin: 0 auto;
    display:flex;
    gap:10px;
    padding:0 40px;
}
.left{
    width:90%;
}

.right{
    color:white;
}
.title{
    font-size: 60px;
    padding:10px 0px;
}
.color{
    color:rgb(226,187,83)
}
.line{
  height: 2px;          
  background-color: rgb(226, 187, 83);
  width: 50px;
}
